<?xml version="1.0" encoding="utf-8"?>
<?define ProductVersion = "1.0.0"?>
<?define ProductUpgradeCode = "BC12102D-6974-4DFB-88F5-19AC346E62D3"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" Name="jikwaa Agent" Version="$(var.ProductVersion)" Manufacturer="jikwaa" Language="1033">
        <Package InstallerVersion="200" Compressed="yes" Comments="jikwaa Agent Software" />
        <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
        <Icon Id="ProductIcon" SourceFile="..\icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPHELPLINK" Value="https://jikwaa.net" />
        <Property Id="ARPURLINFOABOUT" Value="https://jikwaa.net" />
        <Property Id="ARPNOREPAIR" Value="1" />
        <Property Id="ARPNOMODIFY" Value="1" />

        <Property Id="ORG_ID" Value="ORGID" />
        <Property Id="SEC_KEY" Value="SECKEY" />

        <Upgrade Id="$(var.ProductUpgradeCode)">
            <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
            <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
        </Upgrade>
        <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="jikwaa">
                    <Component Id="ApplicationFiles" Guid="18C595F1-0FE7-4410-A71B-4C7A36106f8A">
                        <File Id="ApplicationFile1" Source="..\target\release\op_agent.exe" />
                    </Component>
                    <Component Id="RegistrySettings" Guid="*">
                        <RegistryValue Root="HKLM" Key="Software\jikwaa" Name="OrgID" Type="string" Value="[ORG_ID]" KeyPath="yes"/>
                        <RegistryValue Root="HKLM" Key="Software\jikwaa" Name="SecKey" Type="string" Value="[SEC_KEY]"/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <UI Id="UserInterface">
            <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
            <Property Id="WixUI_Mode" Value="Custom" />

            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
            <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="UserExit" />

            <UIRef Id="WixUI_Common" />

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomDlg" Order="2">1</Publish>
            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Dialog Id="CustomDlg" Width="370" Height="270" Title="Setup">
                <Control Type="Text" Id="InstructionText" Width="300" Height="36" X="38" Y="40">
                <Text>Enter the requested information below to configure the jikwaa Agent.</Text>
                </Control>

                <Control Type="Text" Id="OrgIDText" Width="152" Height="15" X="38" Y="90">
                <Text>OrgID :</Text>
                </Control>
                <Control Type="Edit" Id="OrgIDEdit" Width="80" Height="15" X="205" Y="90" Property="ORG_ID" />
                
                <Control Type="Text" Id="SecKeyText" Width="152" Height="15" X="38" Y="115">
                <Text>SecKey :</Text>
                </Control>
                <Control Type="Edit" Id="SecKeyEdit" Width="80" Height="15" X="205" Y="115" Property="SEC_KEY" />

                <Control Id="InstallButton" Type="PushButton" X="205" Y="233" Width="56" Height="17" Text="Install" TabSkip="no" Default="yes">
                <Publish Event="EndDialog" Value="Return" />
                </Control>
                <Control Id="CancelButton" Type="PushButton" X="140" Y="233" Width="56" Height="17" Text="Cancel" TabSkip="no" Cancel="yes">
                <Publish Event="EndDialog" Value="Exit" />
                </Control>
            </Dialog>
        </UI>

        <InstallExecuteSequence>
            <RemoveExistingProducts After="InstallValidate" />
            <Custom Action="CreateScheduledTask_Cmd" Before="CreateScheduledTask">NOT Installed or REINSTALL</Custom>
            <Custom Action="CreateScheduledTask" After="InstallFiles">NOT Installed or REINSTALL</Custom>
            <Custom Action="DeleteScheduledTask_Cmd" Before="DeleteScheduledTask">Installed</Custom>
            <Custom Action="DeleteScheduledTask" After="RemoveFiles">Installed</Custom>
        </InstallExecuteSequence>

        <CustomAction Id="CreateScheduledTask_Cmd" Property="CreateScheduledTask" Value="&quot;[SystemFolder]SCHTASKS.EXE&quot; /CREATE /SC MINUTE /MO 60 /TN &quot;jikwaa Agent Task&quot; /TR &quot;\&quot;[INSTALLDIR]op_agent.exe\&quot;&quot; /RU &quot;NT Authority\System&quot; /RP /RL HIGHEST"/>
        <CustomAction Id="CreateScheduledTask" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="no"/>

        <CustomAction Id="DeleteScheduledTask_Cmd" Property="DeleteScheduledTask" Value="&quot;[SystemFolder]SCHTASKS.EXE&quot; /DELETE /f /TN &quot;jikwaa Agent Task&quot;"/>
        <CustomAction Id="DeleteScheduledTask" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>
        
        <Feature Id="DefaultFeature" Level="1">
            <ComponentRef Id="ApplicationFiles" />
            <ComponentRef Id="RegistrySettings" />
        </Feature>
    </Product>
</Wix>